
.navbar-collapse {
    p {
        margin: 0;
    }
}

.profile-picture {
    height: 60px;
    border-radius: 3px;
}

.categories {
    height: 150px;
    h2 {
        font-size: 1.4em;
    }
}

main {
    flex: 1;
    
    nav {
        height: 150px;
    }

    table {
        font-size: 0.9rem;
        vertical-align: center;

        td, th {
            vertical-align: middle!important;
        }
        
        img {
            height: 45px;
            width: auto;
        }
    }

    .add-action {
        img {
            height: 50px;
            width: auto;
        }
    }

    .user-info, .comment-info {
        h5 {
            color: rgb(9, 72, 114);
        }
    }

    table a:hover {
        text-decoration:none;
    }
}
